.des-content{
	color: white;
}
.top-box{
	width: 100%;
	text-align:right;
	line-height: 140px;
	margin-top: 200px;
	font-size: 200px;
	color: white;
	font-weight: bold;
}
.more-title{
	width: 100%;
	text-align: left;
	line-height: 130px;
	color: #f054ac;
	font-size: 130px;
	font-weight: bold;	
	padding-left: 10px;
}


.des-content{
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
}
.left-text{
	padding-top: 70px;
	width: 50%;
	font-size: 28px;
}
.left-text1,.left-text2,.left-text3{
	margin: 30px 0;
}
.left-text2-title,.left-text3-title{
	font-size: 44px;
	color: #f054ac;
}
.right-img{
	width: 45%;
}
.right-img img{
	width: 90%;
}


.bottom-box{
	width: 100%;
	margin-top: 40px;
}
.bottom-title{
	width: 80%;
	margin: 0 auto;
	text-align: center;
	line-height: 140px;
	color: #f054ac;
	font-size: 120px;
	font-weight: bold;
}
.bottom-content{
	color: white;
	width:80%;
	margin: 40px auto;
	display: flex;
	justify-content: space-between;
	font-size: 28px;
}
.bottom-left-content{
	width: 45%;
	text-align:justify;
}
.bottom-right-content
{
	width: 45%;
	text-align:justify;
}


.footer-logo{
	width: 100%;
	height: 80px;
	line-height: 80px;
	margin-top: 100px;
}
.logo-box{
	width: 200px;
	margin: 0 auto;
	display: flex;
	color: white;
}
.logo-img{
	width: 120px;
	height: 40px;
}
.logo-img img{
	width: 40px;
	height: 40px;
}
.logo-text{
	margin-left: 70px;
	font-size: 24px;
}

