
/* 文字区域 */
.cols{
	 height: 300px;
	 top: 0;
     width: 84%;
	 margin: 0 auto;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 padding-top: 70	0px;
}
/* 背景的泡泡 */
.pop-content{
	width: 100%;
	position: relative;
}
.bg-pop{
	width: 480px;
	height: 480px;
	/* background: salmon; */
	position: relative;
	top: 50px;
	left: 60%;
	right: 10px;
}

.one-pop{
	position:absolute;
	width: 300px;
	height: 300px;	
	left: 0;
	top: 0;
	border-radius: 50%;	
	background: #ffa6a8;
	transform-origin: 130% 130%;
	filter: blur(100px);
}
.two-pop{
	position: absolute;
	left: auto;
	right: 0;
	top: auto;
	bottom: 0;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	background: #cc5454;
	transform-origin: -60% -60%;
	filter: blur(50px);
}
.bottom-content{
	width: 70%;
	margin: 0 auto;
}
p{
  display: block;
  width: 90%;
  font-size: 1.2em;
  color: #ece4f5;
}

