@import url('https://fonts.googleapis.com/css2?family=Chonburi&family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Chonburi", sans-serif;
    background: #131314;
    overflow: hidden; /* 禁用垂直滚动 */
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 400;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.background-overlay.show {
    opacity: 1;
    display: block;
}

.navbar {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    z-index: 100;
    padding: 16px;
}

/* .nav-background {
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #131314;
} */

.navbar .logo img {
    width: 60px;
    height: 60px;
}

.nav-items {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.nav-items a, .nav-items .work {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-top: 0;
    transition: color 0.3s ease;
}

.nav-items a:hover, .nav-items .work:hover {
    color: rgb(177, 99, 195);
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

h1 {
    width: 100%;
    color: #fff;
    font-size: 5vw;
    font-weight: 300;
    text-align: center;
    margin-top: 30px;
}

h3 {
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-size: 20px;
}

.highlight-1 {
    text-decoration: underline;
    text-decoration-color: #900;
    text-decoration-thickness: 2px;
    font-style: italic;
    font-weight: 500;
}

.highlight-2 {
    text-decoration: underline;
    text-decoration-color: aqua;
    text-decoration-thickness: 2px;
    font-style: italic;
    font-weight: 500;
}

.name {
    color:rgb(223, 156, 240);
    font-family: "Chonburi", sans-serif;
    font-size: 30px;
}

.prefer-name {
    font-family: "Montserrat", serif;
    font-weight: 100;
    font-size: 15px;
}

.resume {
    width: 100%;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-top: 30px;
}

.resume:hover {
    text-decoration: underline;
    text-decoration-color: blue;
}

p {
    font-family: "Montserrat", serif;
    font-weight: 200;
}

.contact {
    font-family: "Montserrat", serif;
    font-weight: 300;
    /* text-decoration: underline; */
    color:rgb(223, 156, 240);
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    height: 100%;
}

.about-left {
    flex: 1;
    padding-right: 20px;
    padding-left: 50px;
    color: white;
}

.about-right {
    flex: 1;
    text-align: center;
}

.profile-photo {
    /* max-width: 80%; */
    width: auto;
    max-height: 80vh; /* 确保图片不超过视口高度的80% */
    object-fit: contain;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.project-cards {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    z-index: 500;
}

.project-cards .project-card {
    position: relative;
    top: 15vh;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", serif;
    font-size: 25px;
    font-weight: 700;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* 鼠标悬停时，字体变大和添加下划线 */
.project-card:hover h1,
.project-card:hover h2 {
    font-size: 28px; /* larger */
    text-decoration: underline; /* 添加下划线 */
    text-decoration-color: blue;
}

/* 对 h1 和 h2 元素应用过渡效果 */
.project-card h1,
.project-card h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", serif;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    color: #fff; /* h1 的颜色保持为白色 */
    text-decoration-color: blue; /* 让下划线出现的时候不会闪白色 */
    transition: font-size 0.3s ease, text-decoration-color 0.3s ease; /* 添加字体和下划线的过渡 */
}

.project-card h2 {
    color: #131314; /* h2 的颜色保持为 #131314 */
}  

.c1 {
    transform: translate(65px, 20px) rotate(5deg);
    background-image: url(assets/project-1/cover-1.png);
}
.c2 {
    transform: translate(-5px, -10px) rotate(-2.5deg);
    background-image: url(assets/project-2/cover-2.png);
}
.c3 {
    transform: translate(-40px, 10px) rotate(2.5deg);
    background-image: url(assets/project-3/cover-3.png);
}
.c4 {
    transform: translate(-70px, 30px) rotate(-7.5deg);
    background-image: url(assets/project-4/cover-4.png);
}

.close {
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50px;
    height: 50px;
    background: #000;
    font-size: 30px;
    color: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    opacity: 90%;
    font-weight: 200;
}

.page-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    padding-top: 10px;
    padding-bottom: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #131314;
}

.page-footer::after {
    content: "";              /* 伪元素必须有内容 */
    position: absolute;       /* 绝对定位，确保它在footer底部 */
    bottom: 0;                /* 距离底部0 */
    left: 0;                  /* 距离左侧0 */
    width: 100%;              /* 宽度100% */
    height: 10px;             /* 高度20px */
    background-color: #4a0304; /* 长方形的背景颜色 */
}

.footer-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

footer p {
    color: white;
    font-size: 0.8em;
    margin: 0;
}
