.top-box {
	width: 100%;
	text-align: left margin-top: 200px;
	font-size: 200px;
	color: white;
	font-weight: bold;
}

.more-title {
	width: 100%;
	text-align: right;
	line-height: 150px;
	color: #f054ac;
	font-size: 130px;
	font-weight: bold;
	padding-right: 15px;
	margin-bottom: 30px;
}

.card-content {
	margin-top: 100px;
}

.card-item {
	width: 100%;
	height: 500px;
	display: flex;

}

.card {
	position: relative;
	cursor: pointer;
	width: 60%;
	height: 90%;
	background: white;
	display: flex;
	overflow: hidden;
}

.card-img {
	width: 80%;
	overflow: hidden;
	border:4px solid white;
}

.card-img img {
	margin: 0;
	width: 100%;
	filter: grayscale(100%);
	transition: filter 0.5s ease-in-out;

}
.card:hover .card-img img{
	 filter: none;
}

.card-right {
	width: 20%;
	background: white;
}
.card-right .card-right-content{

	  z-index: 99;
	 position: absolute;
	 top: 20px;
	 right: 170px;
	 color: #333;
	    opacity: 0.7;
	font-size: 18px;
	      letter-spacing: 1px;
	      writing-mode: vertical-lr;
	      -webkit-transition: all 0.2s ease;
	      transition: all 0.2s ease;
}
.card-right-box{
	width: 40px;
	height: 40px;
	background-color: #da4d1d;
	border-radius: 50%;
	position: absolute;
	left: auto;
	top: auto;
	right: 20px;
	bottom: 20px;
	 mix-blend-mode: hard-light;
	 transform: scale(1);
	 animation: scale-one 0.3s;
}
.card:hover .card-right-box{
  animation: zoom-rotate .3s ease-in-out;
  opacity: 0.7;
  transition: opacity .3s;
  animation-fill-mode: forwards;
}
@keyframes scale-one {
  0% {
    transform: scale(25);
  }
  100% {
    transform: scale(1);
  }	
}
@keyframes zoom-rotate {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(25);
  }	
}
.card .top-title{
	font-weight: bold;
	color: white;
	font-size: 120px;
	left: auto;
	right: 26%;
	top: auto;
	bottom: -20px;
	position: absolute;
	z-index: 11;
	display: flex;	
}
.top-title-ico .ico{
	position: absolute;
	top: auto;
	bottom: 60px;
	left: auto;
	right: -120px;
	display: block;
	width: 100px;
	height: 60px;
	background: url("../assets/images/arrow.png") no-repeat center;
	opacity: 0;
	transform: scale(1);
	animation: back-scale 0.3s;
}
.card:hover .top-title-ico .ico{
	opacity: 1;
	transition: opacity .3s	;
	/* transform: scale(1.2); */
	animation: zoom-scale  .3s ease-in-out;
	animation-fill-mode: forwards;
}
@keyframes zoom-scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.4);
  }	
}
@keyframes back-scale {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }	
}
.top-title-text{
	letter-spacing: 2px;
}

.item-text {
	width: 30%;
	padding-top: 200px;
	margin-left: 20px;
	color: white;
	font-size: 24px;
}
.cover-dotted{
	position: absolute;
	height: 100%;
	width: 200px;
	z-index: 22	;
	border-right: 8px dotted #ffffff;
	overflow: hidden;
}


.card2{
	margin-left: 20%;
}
.item2-text{
	width: 10%;
	padding-top: 150px;
}
.card2 .card-right-box{
	background-color: #2b26c3;
}

/* 第三个卡片 */
.card-item3{
	display: flex;
	justify-content: end;
}
.card3{
	margin-right: 10px;
}


.left-more-title{
	text-align: left;
}
.item4-text{
	padding-top: 0;
}
.card-item5{
	flex-direction: column;
	justify-content: flex-end;
}
.card-item5 >div{
	margin-left: auto;
}
.item5-text{
	padding: 0;
	width: 60%;
	margin-left: auto;
	margin-top: 10px;
}
.card-item6{
	margin-top: 200px;
}
.card6{
	margin-left: 10%;
}
.item6-text{
	padding-top: 0;
	width: 15%;
}
.card6 .card-right-box,.card4 .card-right-box{
	background:  #2b26c3;
}
.last-more-title{
	padding-right: 100px;
}
 

/* 底部logo */
.footer-logo {
	width: 100%;
	height: 80px;
	line-height: 80px;
	margin-top: 300px;
}

.logo-box {
	width: 200px;
	margin: 0 auto;
	display: flex;
	color: white;
}

.logo-img {
	width: 120px;
	height: 40px;
}

.logo-img img {
	width: 40px;
	height: 40px;
}

.logo-text {
	margin-left: 70px;
	font-size: 24px;
}