@import url('https://fonts.googleapis.com/css2?family=Chonburi&family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Chonburi", sans-serif;
    font-style: normal;
    background: #131314;
    overflow-x: hidden;
}

.nav-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    /* adjust as needed */
    background: linear-gradient(to bottom,
            #131314 0%,
            rgba(19, 19, 20, 0) 100%);
    z-index: 10;
}

.navbar {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    z-index: 100;
    padding: 16px;
}

.navbar .logo img {
    width: 60px;
    height: 60px;
}

.nav-items {
    display: flex;
    flex-direction: column;
    /* vertical */
    margin-left: 20px;
    /* space between logo and buttons */
}

/* navbar items css styles */
.nav-items a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-top: 0;
    transition: color 0.3s ease;
}

.nav-items a:hover {
    color: rgb(177, 99, 195);
}

/* Work has a seperate class bc it's a button. Change it if there's a page of all works */
.nav-items .work {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-top: 0;
    transition: color 0.3s ease;
}

.nav-items .work:hover {
    color: rgb(177, 99, 195);
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.container {
    margin: 25%;
    margin-top: 120px;
    /* background-color: aquamarine; */
}

.container iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    display: block;
}

h1 {
    width: 100%;
    color: #fff;
    font-size: clamp(24px, 3vw, 48px);
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 10px;
}

h2 {
    color: #fff;
    font-family: "Quicksand", "Manrope", sans-serif;
    font-size: medium;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 30px;
}

h3 {
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-size: larger;
    font-weight: bold;
    margin: auto;
    margin-bottom: 10px;
}

p {
    color: #fff;
    font-family: "Quicksand", "Manrope", sans-serif;
    font-size: medium;
    font-weight: 300;
    margin-bottom: 30px;
}

.discription {
    color: rgb(160, 160, 160);
    font-family: "Quicksand", "Manrope", sans-serif;
    font-size: medium;
    font-weight: 300;
    text-align: center;
    font-style: italic;
    margin-bottom: 30px;
}

.link {
    color: aqua;
    font-size: medium;
}

.link:hover {
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: blue;
}

.highlight {
    font-weight: bold;
    font-family: "Manrope", sans-serif;
}

.headImage {
    margin: 20%;
    margin-top: 130px;
    margin-bottom: 10px;
}

.headImage+.container {
    margin-top: 40px;
    /* a .container that immediately follows a .headImage */
}

.headImage--drops {
    margin-left: 10%;
    margin-right: 10%;
    /* or whatever width you want */
    margin-top: 150px;
}

.img-grid {
    display: grid;
    gap: 16px;
    margin: 20px auto;
    justify-items: center;
    justify-content: center;
}

.img-grid--wide img {
    width: 100%;
}

@media (max-width: 900px) {
    .img-grid:not(.img-grid--wide) {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .img-grid:not(.img-grid--wide) img:last-child:nth-child(odd) {
        grid-column: 1 / -1;
        width: 50%;
        margin: 0 auto;
    }
}

@media (max-width: 560px) {
    .img-grid:not(.img-grid--wide) {
        grid-template-columns: 1fr !important;
    }

    .img-grid:not(.img-grid--wide) img:last-child:nth-child(odd) {
        grid-column: 1 / -1;
        width: 100%;
        margin: 0 auto;
    }
}

.project-cards {
    position: absolute;
    top: 0vh;
    left: 0;
    width: 100%;
    height: 100%;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    z-index: 500;
}

.project-cards .project-card {
    position: relative;
    top: 15vh;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    /* background: #fff; */
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", serif;
    font-size: 25px;
    font-weight: 700;
    /* for background */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.project-card:hover h1,
.project-card:hover h2 {
    font-size: 28px;
    text-decoration: underline;
    text-decoration-color: blue;
}

.project-card h1,
.project-card h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", serif;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    color: #fff;
    text-decoration-color: blue;
    transition: font-size 0.3s ease, text-decoration-color 0.3s ease;
}

.project-card h2 {
    color: #131314;
}

.c1 {
    transform: translate(65px, 20px) rotate(5deg);
    background-image: url(assets/project-1/cover-1.png);
}

.c2 {
    transform: translate(-5px, -10px) rotate(-2.5deg);
    background-image: url(assets/project-2/cover-2.png);
}

.c3 {
    transform: translate(-40px, 10px) rotate(2.5deg);
    background-image: url(assets/project-3/cover-3.png);
}

.c4 {
    transform: translate(-70px, 30px) rotate(-7.5deg);
    background-image: url(assets/project-4/cover-4.png);
}

.close {
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50px;
    height: 50px;
    background: #000;
    /* background: none; */
    font-size: 30px;
    color: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    opacity: 90%;
    font-weight: 200;
    letter-spacing: 0px;
}


/* /////////////////////////////////// */
body {
    margin: 0;
    height: 100vh;
    /* make sure there's enough space in the page */
    overflow: auto;
}

.image-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1vh;
    width: 95vw;
    margin: 0 auto;
    position: fixed;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    /* center the container */
    height: 80vh;
    overflow-y: scroll;
    /* make sure the content scrollable */

    padding: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.image-container::-webkit-scrollbar {
    display: none;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* iframe */
.image-container iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    aspect-ratio: 16 / 9;
}